<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Document</title>
</head>

<body>


  <table style="width:50%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor=" let data of employeeData | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{data.id}}</td>
        <td>{{data.employee_name}}</td>
        <td>{{data.employee_age}}</td>
        <td>{{data.employee_salary}}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</body>

</html>
